* {
  box-sizing: border-box;
}
body {
  background-color: tan;
  font-style: italic;
  height: 100vh;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

nav a {
-webkit-transition: -webkit-transform .5s,
                background-color 1s ease-in .5s;
-moz-transition: -moz-transform .5s,
                background-color 1s ease-in .5s;
-o-transition: -o-transform .5s,
                background-color 1s ease-in .5s;
transition: transform .5s,
             background-color 1s ease-in .5s;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #ffffff;
	padding: 10px 20px;
	background: #ff932d;
	border-radius: 5px;
	border: 1px solid #c95e00;
}

nav a:hover {
background-color: seagreen;
-webkit-transform:scale(1.2);
   -moz-transform: scale(1.2);
   -o-transform: scale(1.2);
   -ms-transform:  scale(1.2);
   transform: scale(1.2);
}

ul {
  display: flex;
}
ul li {
  text-decoration: none;
  flex-flow: row;
  list-style-type: none;
  flex-grow: 1;
}

section {
  margin-top: 30px;
}
section.main {
display:flex;
flex-flow: row;
/*min-height: 40vh;*/
}
.main  > article {
background-color: red;
width: 70%;
flex-grow: 2;
}

div {
  height: 30vh;
}

.anime {
display: flex;
border: 0 solid green;
overflow: hidden;
/*justify-content: center;*/
/*margin-left: 0;*/
width: 50%;
}
.anime1 {
-moz-animation:anime 15s infinite;
-webkit-animation:anime 15s infinite;
animation:anime 15s infinite;
animation-direction: alternate-reverse;
width: 2800px;
margin: 0;
padding: 0;
position: relative;
}
.anime img {
  width: 100%;
  height: 100%;
}

.anime {
  flex:0 0;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  background: red;
  width: 60%;
  left: 20%;
}


.anime1 {
  list-style: none;
  width: 300%;
  position:relative;
  -moz-animation: carousel 10s infinite;
  -webkit-animation: carousel 10s infinite;
  animation: carousel 10s infinite;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background: blue;
}
footer {
display: flex;
background-color: green;
min-height: 10%;
margin: -1em;
margin-top: 40px;
padding: 0;
}
@keyframes anime {
0%    { left:0; }
10%   { left:0; }
20% { left:-100%; }
30% { left:-100%; }
40%   { left:-200%; }
50%   { left:-200%; }
60% { left:-300%; }
70% { left:-300%; }
80% { left:0; }
}
@keyframes anime {
0%    { left:0; }
15%   { left:0; }
30% { left:-100%; }
45% { left:-100%; }
60%   { left:-200%; }
75%   { left:-200%; }
90% { left:-300%; }
100% { left: -300%}
}
@keyframes logo {
from {
transform: rotate(0) scale(.5);
right: 100% }
50% {
transform: rotate(-1040deg) scale(.5);
right: 0;
}
to {
transform: rotate(0) scale(1);
} }
.logo {
-webkit-animation: logo 5s;
-moz-animation: logo 5s;
-o-animation: logo 5s;
animation: logo 5s;
}

@media (max-width: 480px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

@media (max-width: 1020px) {

}
