/* Put your reset styles here */
     /* Put styles for desktop and basic styles for all devices here */
     */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Start CSS Style Here */

/*@-webkit-keyframes logo {
	from {
		-webkit-transform: rotate(0) scale(.5);
		left: 200%;
	}
	50% {
		-webkit-transform: rotate(-1040deg) scale(.5);
		left: 0;
	}
	to {
		-webkit-transform: rotate(0) scale(1);
	}

}
 @-moz-keyframes logo {
     from {
       -moz-transform: rotate(0) scale(.5);
left: 200% }
     50% {
       -moz-transform: rotate(-1040deg) scale(.5);
       left: 0;
		 }
}
 to {
    -moz-transform: rotate(0) scale(1);
} }*/
/*@-o-keyframes logo {
  from {
    -o-transform: rotate(0) scale(.5);
left: 200% }
  50% {
    -o-transform: rotate(-1040deg) scale(.5);
    left: 0;
}
  to {
    -o-transform: rotate(0) scale(1);
} }*/
@keyframes logo {
  from {
    transform: rotate(0) scale(.5);
right: 100% }
  50% {
    transform: rotate(-1040deg) scale(.5);
    right: 0;
}
  to {
    transform: rotate(0) scale(1);
} }
.logo {
	-webkit-animation: logo 5s;
	-moz-animation: logo 5s;
	-o-animation: logo 5s;
	animation: logo 5s;
}
body {
  background-color: tan;
  flex: 0;
}

h1 {
  font-style: italic;
  color: blue;
  display: flex;
}
/* Small Screen*/
@@media (max-width: 480) {
 /*.flex-content: hidden;*/

}
  /* Medium Screen */
@@media (min-width: 480) (max-width: 1024) {
 body {

 }
}

@@media (max-width: 1024) {
 body {

 }
}
/*img {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
}*/
header {
  background-color: tan;
}

picture {

flex-flow: column;
}
.flex-content img {

position: absolute;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;

/*.content1 {
  display: flex;
  flex-direction: row-reverse;*/

}
@keyframes anime {
    0%    { left:0; }
    5%   { left:0; }
    10% { left:-100%; }
    15% { left:-100%; }
    20%   { left:-200%; }
    25%   { left:-200%; }
    30% { left:-300%; }
    35% { left:-300%; }
    36% { left:0; }
}

.sidebar1 {
  flex-shrink:
}
.main {
  display: flex;
}
