@keyframes anime {
  0%{
      left: 0;
  }
  20%{
      left: 0;
  }
  25%{
      left: -100%;
  }
  45%{
    left:-100%;
  }
  50%{
    left:-200%;
  }

  70%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left:0;
  }
}

.anime {
        overflow: hidden;
}

.anime1 img{
        width: 25%;
        flex: 1 1 25%;
        height: 300px;
}
.anime1 img{
        position: relative;
        width:400%;
        margin: 0;
        display: flex;
        animation:5s slider infinite;
}
