@media (max-width: 480px) {
    .main, header {
    width: 100%;
    flex: none;
    flex-direction: column;
    flex-wrap: wrap;
  }
  ul {
    display: flex;
    flex-flow: column;
    margin-top: -100px;
    justify-content: center;
    text-align: center;
  }
  .logo {
    visibility: hidden;
  }

section {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.informationA {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.information2 {
  margin-top: 20px;
}
.information2 img{
  width: 100%;
}


.information3 img{
  width: 100%;
}
.informationB {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.information4 {
  margin-top: 20px;
}
 .information4 img{
  width: 100%;
  }
}
